* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

/*container*/
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

/*header*/
.cabezal {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    background: linear-gradient(#1b2024cc, #1b20241f), url(img/index.jpeg);
    background-position: center;
    background-size: cover;
    position: static;
}

.cabezal .logo {
    display: flex;
    flex-wrap: wrap;
}

.cabezal img {
    width: 310px;
    height: 70px;
}

.text-h {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 20px 20px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    color: white;
}

.text-h p {
    font-size: 30px;
    text-align: right;
}

.header-inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;

}

.wave {
    bottom: 0;
    width: 100%;
    margin: -8px;
}

.inic-h {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    background: white
}

.inic-h h1 {
    font-size: 80px;
}

/*header sections*/
.container-sections {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.cabezal-sections {
    display: flex;
    justify-content: space-between;
    background-color: rgb(51, 34, 83);
}

.cabezal-sections li {
    display: inline-block;
    padding: 10px 10px;
    margin: 20px;
}

.cabezal-sections a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    transition: 0.5s;
}

.cabezal-sections a:hover {
    color: #1B2024;
    background-color: white;
    border-radius: 20px;
    padding: 9px 9px;
}

.cabezal-sections .logo button {
    border: none;
    background: transparent;
    cursor: pointer;
}

.cabezal-sections .logo img {
    width: 328px;
    height: 70px;
}

/*  */
.nav-list {
    display: flex;
    justify-content: space-between;
}

.nav-responsive {
    display: none;
}

/*inicio*/
.nav-i {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 80px 80px;
}

.nav-i {
    background-color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    padding: 80px 80px;
    width: 100%;
}

.nav-i button {
    margin: 9px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.nav-i button:hover {
    background-color: #111417;
    color: white;
    transform: scale(1.1);
    padding: 9px 9px;
    border-radius: 10px;
}

/*about*/
.cont-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aqua;
}
.cont-about h1{
    padding: 10px 10px;
    font-size: 50px;
}

/* gd */
.gd {
    border-radius: 30px;
    background-color: white;
    padding: 9px 9px;
    display: grid;
    grid-template-columns: repeat(2, 10fr);
    grid-gap: 40px;
    justify-content: center;
    align-items: center;
}
/* fd */
.gd .ft{
    width: 250px;
    height: 250px;
    background: url(img/perf.jpeg);
    background-position: center;
    background-size: cover;

}
/*  */
.contenido-tab {
    margin: 0;
    padding: 20px 20px;
}

.buttones {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
}

.tab-button {
    padding: 10px 20px;
    margin: 0;
    border: 1px solid white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #332253;
    color: white;
    cursor: pointer;
    display: block;
    z-index: 10;
}

.tab {
    display: none;
    border-radius: 20px;
    background-color: white;
    padding: 20px 20px;
    height: 100%;
    width: auto;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.active {
    display: block;
}

/*servicios*/
.servicios {
    height: 100vh;
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.servicios h1 {
    padding: 20px 20px;
}

.serv-list {
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 300px;
    background-color: white;
    border-radius: 20px;
}

/*ubication*/
.ubication {
    height: 100vh;
    background: linear-gradient(rgba(51, 34, 83, 0.829), rgba(51, 34, 83, 0)), url(img/ubicacion.jpg);
    background-position: 50% 70%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ubication h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    padding: 20px 20px;
    color: white;
}

.ubication .u-cont {
    display: grid;
    grid-template-columns: repeat(2, 10fr);
    background-color: rgba(255, 255, 255, 0.733);
    width: auto;
    padding: 20px 20px;
    border-radius: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: #39393a;
}

.ubication .dt {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.ubication .dt li {
    list-style: none;
    margin: 8px;
}

.ubication .dt .tl {
    margin-left: -99px;
}

.ubication .dt p {
    margin-left: 17px;
}

.ubication button {
    border: none;
    background: transparent;
    cursor: pointer;
    transition: 0.5s;
}

.ubication button:hover {
    scale: 1.1;
}

.ubication .enl img {
    width: 200px;
    height: 254px;
}

/* contacto */
.contacto {
    width: 100%;
    height: auto;
    background-color: #251434;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contacto .kopf {
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px 10px;
    margin: 9px;
}

.contacto .kopf span {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.contacto h2 {
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
}

.contacto .col {
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    align-items: center;
}

.contacto .col input {
    width: 350px;
    height: 50px;
    padding: 9px 9px;
    margin: 9px;
    font-size: large;
}

.contacto .col textarea {
    width: 350px;
    height: auto;
    padding: 9px 9px;
    margin: 9px;
    font-size: large;
}

/*footer*/
footer {
    width: 100%;
    background-color: #1B2024;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

footer .grupo1 {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 40px 40px;
}

figure img {
    height: 200px;
    width: 370px;
}

figure {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .redes-s {
    display: inline-block;
    margin-right: 10px;
}

footer .redes-s i {
    padding: 10px 10px;
}

footer .redes-s a {
    color: #B6C2DC;
}

footer .grupo2 .sour-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
}

footer .grupo2 a {
    display: flex;
    margin: auto;
    text-decoration: underline;
    color: #B6C2DC;
    text-align: center;
}

@media (max-width: 700px) {

    .cabezal-sections {
        display: flex;
        background-color: rgb(51, 34, 83);
        padding: 10px 10px;
    }

    nav {
        display: none;
    }

    .nav-responsive {
        display: block;
    }

    nav.responsive {
        display: block;
        position: absolute;
        right: 0;
        top: 13%;
        background-color: #332253;
        width: 180px;
    }

    .nav-responsive i {
        padding: 20px 20px;
        font-size: 25px;
        color: white;
    }

    nav.responsive ul {
        display: block;
    }

    nav.responsive ul li {
        padding: 10px 0;
    }

}



@media (max-width: 768px) {
    .text-h {
        display: flex;
        flex-direction: column;
        text-align: left;
        padding: 20px 20px;
        margin: auto;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 50px;
        color: white;
        margin: 0;
    }

    .text-h p {
        font-size: 30px;
        text-align: left;
    }

    .inic-h {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        width: 100%;
        background: white;
    }

    .inic-h h1 {
        font-size: 40px;
    }

    .wave {
        bottom: 0;
        width: 100%;
        margin: -8px;
    }

    .herramientas {
        width: 100%;
        padding: 10px;
    }

    h1 {
        font-size: 30px;
    }

    .tab {
        width: 100%;
    }

    /*inicio*/
    .nav-i {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav-i a {
        border: 2px solid rgb(22, 28, 77);
        border-radius: 20px;
        padding: 10px 10px;
    }

    /*footer*/
    footer {
        width: 100%;
        background-color: #1B2024;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
    }

    footer .grupo1 {
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 20px 20px;
    }

    .box1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    figure {
        height: 70px;
        width: 240px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    figure img {
        height: 100px;
        width: 200px;
        align-items: center;
    }

    footer .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    footer .redes-s {
        display: inline-block;
        margin-right: 10px;
    }

    footer .redes-s i {
        padding: 10px 10px;
    }

    footer .redes-s a {
        color: #B6C2DC;
    }

    footer .grupo2 .sour-box {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
        padding: 10px 10px;
    }

    footer .grupo2 a {
        display: flex;
        margin: auto;
        text-decoration: underline;
        color: #B6C2DC;
        text-align: center;
    }

    footer .grupo3 {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #111417;
    }
}