
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;}
html, body{
    margin: 0;
    padding: 0;
}
/*container*/
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

/*header*/
.cabezal{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    background:
    url(/20230816_102845-01~2_20231020114020797.jpg);
    position: static;
}
.cabezal .logo{
    display: flex;
    flex-wrap: wrap;
}
.cabezal img{
    width: 328px;
    height: 70px;
} 
.text-h{
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    padding: 20px 20px;
    margin:auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    color: white;
}
.text-h p{
    font-size: 30px;
}
.header-inicio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;

}

.wave{
    bottom: 0;
    width: 100%;
    margin: -8px;
}
.inic-h{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    background: white
}
.inic-h h1{
    font-size: 50px;
}
/*header sections*/
.container-sections{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.cabezal-sections{
    display: flex;
    justify-content: space-between;
    background-color: rgb(51, 34, 83);
}
.cabezal-sections li{
    display: inline-block;
    padding: 10px 10px;
    margin: 20px;
}
.cabezal-sections a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.cabezal-sections .logo img{
    width: 328px;
    height: 70px;
}
.nav-list{
    display: flex;
    justify-content: space-between;
}
.nav-responsive{
    display: none;
}
/*inicio*/
.nav-incio{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 80px 80px;
}
.nav-incio {
    background-color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    padding: 80px 80px;
    width: 100%;
}

.nav-incio a{
    margin: 20px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
/*about*/
.cont-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aqua;
}
.contenido-tab{
    margin: 0;
    padding: 20px 20px;
}
.buttones{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
}
.tab-button{
    padding: 10px 20px;
    margin:0;
    border: 1px solid white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #332253;
    color: white;
    cursor: pointer;
    display: block;
    z-index: 10;
}
/*
.buttones button .overlay{
    position: absolute;
    width: 0;
    height: 100%;
    background-color: aqua;
    z-index: -1;
    transition: 1s;
}
.buttones button:hover .overlay{
    width: 100%;
}
*/
.tab{
    display: none;
    border-radius: 20px;
    background-color: white;
    padding: 20px 20px;
    height: 100%;
    width: 1000px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.active {
    display: block;
}
/*servicios*/
.servicios {
    height: 100vh;
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.servicios h1{
    padding: 20px 20px;
}
.serv-list{
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 300px;
    background-color: white;
    border-radius: 20px;
}
/*ubication*/
.ubication{
    height: 100vh;
    background-color: aquamarine;
}
/*footer*/
footer{
    width: 100%;
    background-color: #1B2024;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

footer .grupo1{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 40px 40px;
}
figure img{
    height: 200px;
    width: 370px;
}        
figure{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .redes-s{
    display: inline-block;
    margin-right: 10px;
}
footer .redes-s i{
    padding: 10px 10px;
}
footer .redes-s a{
    color:#B6C2DC;
}
footer .grupo2 .sour-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
}
footer .grupo2 a{
    display: flex;
    margin: auto;
    text-decoration: underline;
    color: #B6C2DC;
    text-align: center;
}

@media  (max-width: 700px){
    .cabezal-sections{
        display: flex;
        background-color: rgb(51, 34, 83);
        padding: 10px 10px;
    }
    nav{
        display: none;
      }
      .nav-responsive{
        display: block;
      }
      nav.responsive{
        display:block;
        position: absolute;
        right: 0;
        top: 13%;
        background-color:#332253;
        width: 180px;
      }
      .nav-responsive i{
        padding: 20px 20px;
        font-size: 25px;
        color: white;
      }
      nav.responsive ul{
        display: block;
      }
      nav.responsive ul li{
        padding: 10px 0;
      }

    }

    

@media (max-width: 768px) {
    .text-h{
        display: flex;
        flex-wrap: wrap;
        text-align: left;
        padding: 20px 20px;
        margin:auto;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 50px;
        color: white;
        margin: 0;
    }
    .text-h p{
        font-size: 30px;
    }
    .inic-h{
        display: flex;
        flex-direction: column;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        width: 100%;
        background: white;
    }
    .wave{
        bottom: 0;
        width: 100%;
        margin: -8px;
    }
    .herramientas {
        width: 100%;
        padding: 10px;
    }

    h1 {
        font-size: 30px;
    }

    .tab {
        width: 100%;
    }
    /*inicio*/
    .nav-incio{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }
    .nav-incio a{
        border: 2px solid rgb(22, 28, 77);
        border-radius: 20px;
        padding: 10px 10px;
    }
    /*footer*/
    footer{
        width: 100%;
        background-color: #1B2024;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
    }
    footer .grupo1{
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 20px 20px;
    }
    .box1{
        display: flex;
        justify-content:center;
        align-items: center;
        margin: auto;
    }
    figure{
        height: 70px;
        width: 240px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    figure img{
        height: 100px;
        width: 200px;
        align-items: center;
    }
    footer .box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    footer .redes-s{
        display: inline-block;
        margin-right: 10px;
    }
    footer .redes-s i{
        padding: 10px 10px;
    }
    footer .redes-s a{
        color:#B6C2DC;
    }
    footer .grupo2 .sour-box{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
        padding: 10px 10px;
    }
    footer .grupo2 a{
        display: flex;
        margin: auto;
        text-decoration: underline;
        color: #B6C2DC;
        text-align: center;
    }
    footer .grupo3{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:#111417;
    }
}