/*footer*/
footer {
    width: 100%;
    background-color: #1B2024;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

footer .grupo1 {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

figure img {
    height: 200px;
    width: 370px;
}

figure {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .redes-s {
    display: inline-block;
    margin-right: 10px;
}

footer .redes-s i {
    padding: 10px 10px;
}

footer .redes-s a {
    color: #B6C2DC;
}

footer .grupo2 .sour-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .grupo2 .sour-box a{
    color: #B6C2DC;
    text-decoration: none;

}

footer .grupo2 :link {
    display: flex;
    margin: auto;
    text-decoration: underline;
    text-align: center;
}

/* media */
@media (max-width: 700px) {
    footer {
        width: 100%;
        background-color: #1B2024;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
    }

    footer .grupo1 {
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
    }

    .box1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    figure {
        height: 70px;
        width: 240px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    figure img {
        height: 100px;
        width: 200px;
        margin-top: 10px;
        align-items: center;
    }

    footer .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    footer .redes-s {
        display: inline-block;
        margin-right: 10px;
    }

    footer .redes-s i {
        padding: 10px 10px;
    }

    footer .redes-s a {
        color: #B6C2DC;
    }

    footer .grupo2 .sour-box {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }

    footer .grupo2 a {
        display: flex;
        margin: auto;
        text-decoration: underline;
        color: #B6C2DC;
        text-align: center;
    }

    footer .grupo3 {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #111417;
    }

}