header {
    width: 100%;
    height: auto;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: static; */
}

.logo img {
    width: 328px;
    height: 70px;
    margin-left: 14px;
}

/*  */
nav {
    display: flex;
    align-items: center;
}

nav .nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav .nav-list a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 7px 9px;
    margin: 9px;
}

.n-r {
    display: none;
}




@media (max-width:500px) {
    .logo img {
        width: 252px;
        height: 55px;
    }

    .n-r {
        display: block;
    }

    .n-r i {
        font-size: 25px;
        margin: 0 23px;
    }

    .n-r .menu-respon {
        margin-top: 29px;
        position: absolute;
        transform: translateX(-241px);
        width: 200px;
        padding: 20px 20px;
    }

    .n-r .menu-respon .nav-list {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .n-r .menu-respon .nav-list a {
        color: white;
        text-decoration: none;
        font-size: 20px;
        text-align: center;
        margin: 5px 0;
        background-color: #212530;
        border: 1px solid white;
        border-radius: 10px;
    }

    nav {
        display: none;
    }

}