.cabezal {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    position: static;

    .logo {
        display: flex;
        flex-wrap: wrap;
    }

    .text-h {
        display: flex;
        flex-direction: column;
        text-align: left;
        padding: 20px 20px;
        margin: auto;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 70px;
        color: white;

        p {
            font-size: 30px;
            text-align: right;
        }
    }

    .header-inicio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0;

        .wave {
            bottom: 0;
            width: 100%;
            margin: -8px;
        }

        .inic-h {
            display: flex;
            flex-direction: column;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            width: 100%;
            background:linear-gradient( rgba(255, 255, 255, 0.589), rgb(255, 255, 255));
            h1{
                font-size: 80px;
            }
        }
    }
}